.container{
    display: flex;
    justify-content: space-evenly;

    
}
.heading{
    text-align: center;
    text-shadow: 0px 0px 5px red;
    background-color: bisque;
    box-shadow: 0 0 10px red;
    padding: 10px;
}

.box-2{
    
    border-radius: 20px;
}
.box-:hover{
    box-shadow: 0 0 10px red;
}
.btn{
    height: 100px;
    width: 100px;
}
.contact-btn{
    background-color:peachpuff;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px red;
    height: 40px;
    width: 100px;
    margin: 10px;
    color: black;
    font-size: 15px;
    text-shadow: 0 0 2px red;
}